- @shops.each do |shop|
  = link_to shop_path(shop), class: 'text-decoration-none' do
    .card.mb-3
      .card-body.d-flex.justify-content-between
        .card-text.fs-3= shop.name
        .card-text.d-flex.flex-row-reverse
          - if shop.business_hours.present?
            = link_to 'マップ', shop.map_url, class: 'btn btn-primary'
          - if shop.e_payment
            = image_tag 'e_payment.png', size: '40x40'
          - if shop.card_payment
            %i.bi.bi-credit-card.fs-3
